.container {
    background-color: #fff;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#body {
    background-image: linear-gradient(to bottom, white, #a9ccad);
    height: auto;
}

#fundoSistemaInterno {
    background-image: linear-gradient(to bottom, white, rgba(208, 235, 218, 0.63));
    height: auto;
}

#login {
    margin: 0px !important;
}

.btn {
    font-size: 18px !important;
}

#teste {
    margin-top: 1px;
    margin-left: 1%;
}

#menuDropDown {
    width: 300px;
    height: auto;
}

#teste:hover {
    box-shadow: 1px 1px 5px 1px rgba(42, 45, 116, 0.75);
}

#rodape {
    clear: both;
    font-size: 15px;
    text-align: center;
    background-color: #3b884d;
    color: white;
    position: relative;
    bottom: 0;
}

#whatsapp {
    display: inline-block;
}

#whatsapp1 {
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
    display: inline-block;
}

#facebook {
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
}

#btnentrar {
    background-color: #4c89e3;
}

#btnAntropometria1 {
    background-color: #4c89e3;
}

#btnCadastrar {
    background-color: #4c89e3;
}

aside {
    float: right;
    margin-bottom: 20px;
    margin-right: 15px;
}

section {
    margin-right: 50px;
}

#carouselExampleControls {
    margin: 3px 0 !important;
}

#divTotalPaciente {
    display: inline-block;
    padding-top: 5px;
}

#hipertensao {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: inline-block;
}

#paciente {
    color: rgba(216, 204, 204, 0.89);
    display: inline-block;
    padding: 5px;
}

#nutricionista {
    color: rgba(67, 59, 59, 0.89);
    display: inline-block;
    padding: 5px;
    font-style: italic;
}

#nomeNutricionista {
    text-align: center;
}

#h5Nutricionista {
    margin-left: 500px;
    margin-top: 20px;
}

#usuarioLogado {
    color: #00eb1b;
    font-size: 22px;
}

#divMenuDeslogado {
    padding-right: 157px;
    padding-bottom: 5px;
}

#usuarioDeslogado {
    color: #961b1b;
    font-size: 22px;
}

#cardsIndex {
    margin: 30px 0px;
}

#cardsDivulgacaoPacientes:hover {
    box-shadow: 1px 1px 5px 1px rgba(42, 45, 116, 0.75);
}

#portaretrato {
    float: left !important;
    width: 350px;
    margin-left: 100px;
    margin-top: 70px;
}

.d-block {
    height: 500px;
}

h3 {
    text-align: center;
    padding: 30px 0;
}

#list-tab {
    text-align: center;
    width: 400px;
    margin: 150px 120px;
}

.navbar {
    background-color: rgb(44, 197, 77);
}

#list-home-list {
    background-color: rgb(44, 197, 77);
    border-color: rgb(44, 197, 77);
}

#menuFechado:hover {
    background-color: rgba(214, 134, 134, 0.72);
}

#menuAberto:hover {
    background-color: rgba(134, 214, 143, 0.72);
}

#menuAlerta:hover {
    background-color: rgba(214, 214, 134, 0.72);
}

#cadeadoAberto {
    margin-left: 5px;
    color: #018901;
}

#cadeadoFechado {
    margin-left: 5px;
    color: #9f0404;
}

#cancelarDieta {
    width: 25px;
    height: 25px;
}

.dropdown {
    margin-right: 50px;
}

#btnBuscaPaciente {
    height: 38px;
    margin-left: 3px;
}

#menuNutricionista {
    text-align: center;
    padding-top: 15px;
    font-size: 35px;
    color: #4d4952;
    text-shadow: 0 1px 0 #272caf,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

#menuNutricionista1 {
    text-align: center;
    padding-right: 50px;
    font-size: 12px;
}

#menuNutricionista2 {
    display: none;
    text-align: center;
    padding-top: 15px;
    font-size: 35px;
    color: #4d4952;
    text-shadow: 0 1px 0 #272caf,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

#menuNutricionista3 {
    text-align: center;
    padding-top: 15px;
    font-size: 35px;
    color: #4d4952;
    text-shadow: 0 1px 0 #272caf,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

#multiCollapseExample1 {
    margin-top: 20px;
}

.fa-heartbeat {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    margin-left: 12px;
}

.fa-cheese {
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.fa-apple-alt {
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.fa-carrot {
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.fa-weight {
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.fa-dumbbell {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    text-align: center;
}

.fa-mouse-pointer {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    z-index: 10;
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    margin-left: 220px;
}

#microscopio {
    width: 63px;
    height: 63px;
}

#sacolaDeCompras {
    width: 60px;
    height: 60px;
}

#serginga {
    width: 35px;
    height: 35px;
}

#gotaDeSangue {
    width: 35px;
    height: 35px;
}

#tuboDeEnsaio {
    width: 65px;
    height: 65px;
    margin-left: 33px;
    margin-top: 30px;
}

#calculadora {
    width: 45px;
    height: 45px;
}


#virus {
    width: 40px;
    height: 40px;
}

#prancheta {
    width: 45px;
    height: 45px;
}

#familia {
    width: 39px;
    height: 39px;
}

#peixePalhaco {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

#exameSaude {
    width: 40px;
    height: 40px;
}

#comprimidos {
    width: 40px;
    height: 40px;
}

#dinheiroNaMão {
    width: 40px;
    height: 40px;
}

#maca {
    width: 40px;
    height: 40px;
}

#balanca {
    width: 63px;
    height: 63px;
}

.fa-vial {
    font-size: 40px;
    color: #8d1e1e;
    margin-left: 43px;
    margin-top: 13px;
}

.fa-circle {
    font-style: italic !important;
    transform: rotate(40deg);
    transform-origin: left top 6;
}

#listNutri {
    float: left;
    width: 200px;
    margin-bottom: 200px;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    display: inline-block;
}

#listNutri1 {
    float: left;
    width: 200px;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.input-group {
    padding-top: 10px;
}

#gerarIMC {
    margin-left: 8%;
    margin-top: 50px;
    float: left;
}

#graficoDinamico {
    margin-left: 620px;
    padding-right: 100px !important;
}

#graficoDinamico1 {
    display: inline-block;
    float: right;
    margin-top: 60px;
}

#gerarMedidas {
    margin-left: 150px;
    width: auto;
    display: inline-block;
}

.alturaAntro {
    height: 100px;
}

.alert {
    width: 300px;
}

#imcJavascript {
    display: inline-block;
    font-weight: bold;
    padding-top: 4px;
}

#form-Bio {
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 250px;
    padding-right: 100px;
}

#form-Bio1 {
    margin-right: 0px;
}

#form-Bio2 {
    margin-left: 0px;
}

#form-Bio3 {
    margin-top: 30px;
}

#form-VET {
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 20px;
    float: left;
    display: inline-block;
    width: 300px;
}

#form-VET1 {
    margin-top: 2px;
    margin-left: 30%;
    display: inline-block;
}

#form-Clinico {
    margin-top: 60px;
    margin-left: 250px;
}

#form-Clinico1 {
    margin-top: 20px;
    margin-left: 120px;
}

#tabelaAT {
    float: right;
    width: 400px;
    margin-top: 50px;
    margin-right: 40px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

#TMB-Kcal {
    font-size: 20px;
    display: inline-block;
}

#tmb {
    margin-left: 310px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#vet {
    float: right;
    margin-bottom: 15px;
    padding-right: 170px;
}

#resultadoVet {
    float: right;
    padding-left: 18px;
    padding-top: 3px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.8em #87F;
    font-weight: bold;
    font-size: 17px;
}

#resultadoConta {
    margin-left: 42px;
    font-weight: bold;
}

#resultadoNAF {
    margin-left: 62px;
    font-weight: bold;
}

#resultadoIMC {
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.8em #87F;
    font-weight: bold;
}

#resultadoPercentualGordura {
    margin-left: 60px;
    font-size: 16px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.8em #87F;
    font-weight: bold;
    margin-bottom: none !important;
    display: inline-block;
}

#calculoDiferencaPercentualGordura {
    margin-left: 60px;
    font-size: 16px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.8em #87F;
    font-weight: bold;
    display: inline-block;
}

#calculoPercentualGorduraEmKg {
    margin-left: 60px;
    font-size: 16px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.8em #87F;
    font-weight: bold;
    display: inline-block;
}

#calculoPercentualLivreGorduraEmKg {
    margin-left: 60px;
    font-size: 16px;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.8em #87F;
    font-weight: bold;
    display: inline-block;
}

#cardPercentualDeGordura {
    margin-top: 2%;
    margin-left: 550px;
    margin-right: 3%;
}

#avisoPercentual {
    text-align: center;
}

#tamanhoPercentual {
    width: 37px;
    height: 37px;
    padding-right: 5px;
}

#tabelaAlimentos {
    width: 890px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#tabelaAlimentos1 {
    width: 38%;
    margin-left: 19%;
    margin-top: 10px;
    margin-bottom: 1%;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
    float: left;
}

#tabelaAlimentos2 {
    width: 38%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 1%;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
    float: right;
}

#tabelaConsultaPaciente {
    width: 870px;
    margin-top: 50px;
}

.table-overflow {
    margin-top: 40px;
    margin-left: 250px;
    max-height: 400px;
    overflow-y: auto;
    background-image: linear-gradient(to bottom, white, rgba(208, 235, 218, 0.63));
}

.table-overflow1 {
    margin-top: 5%;
    max-height: 250px;
    display: inline-block;
    background-image: linear-gradient(to bottom, white, rgba(208, 235, 218, 0.63));
}

.table-overflow3 {
    height: 250px;
    overflow-y: auto;
    display: inline-block;
    background-image: linear-gradient(to bottom, white, rgba(208, 235, 218, 0.63));
}

#limpandoTelaParaDieta {
    clear: both;
}

#consultarDadosPaciente {
    float: right;
    display: inline-block;
    margin-top: 250px;
    margin-right: 22px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
}

#consultarDadosPaciente:hover {
    box-shadow: 1px 1px 5px 1px rgba(62, 16, 65, 0.78);
}

#botaoConsulta {
    margin: 10px;
}

.table-overflow2 {
    margin-top: 1%;
    display: inline-block;
    position: absolute;
}

#tabelasAlimentosAdicionadas {
    max-width: 60%;
    margin-left: 2%;
}

.fa-book-open:hover {
    color: #d83838 !important;
}

#msgErro {
    width: auto;
    display: inline-block;
    margin-left: 330px;
    margin-top: 50px;
    font-style: oblique;
}

#msgErro1 {
    width: auto;
    display: inline-block;
    margin-left: 31%;
    margin-top: 50px;
    font-style: oblique;
}

#btnConfirmacao {
    margin-top: 10px;
}

#secaoDietoterapia {
    margin-left: 12px;
    margin-top: 40px;
    display: inline-block;
    float: left;
}

#secaoImpressao {
    margin-left: 12px;
    margin-top: 100px;
    display: inline-block;
    float: left;
}

.fa-trash-alt {
    color: #c35050;
}

#inclusaoAlimentos {
    margin-top: 30px;
}

#logout {
    width: 33px;
    height: 33px;
}

#campos {
    color: rgba(195, 39, 70, 0.73);
    font-style: italic;
}

#pacientesCadastrados {
    position: absolute;
    margin-left: 950px;
}

#novaConsulta {
    position: fixed;
    top: 85%;
    left: 90%;
    padding: 10px;
    z-index: 10000000;
    background-image: linear-gradient(to bottom, white, rgba(107, 191, 138, 0.63));
    border-radius: 1000px;
}

#alimentoadicionado {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

#brasaoNutricao {
    width: 67px;
    height: 70px;
    display: inline-block;
    margin-left: 24%;
}

#brasaoNutricao2 {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-left: 24%;
}

#tituloConduta {
    display: inline-block;
    margin-left: 6%;
    text-shadow: 0 1px 0 #272caf,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

#tituloRecomendacoes {
    display: inline-block;
    margin-left: 4%;
    text-shadow: 0 1px 0 #272caf,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

#cardRecomendacoesOrientacoes {
    margin: 3% 32%;
}

#totalRecomendacao {
    margin: 4% 0;
}

#avisoRecomendacao {
    margin-left: 24%;
}

#listaSubTitulo {
    color: rgba(171, 20, 183, 0.78);
    text-shadow: 0 1px 0 #272caf,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    text-align: center;
}

#tabelaImpressao {
    width: auto;
    margin-right: 10px;
    margin-top: 452px;
    margin-bottom: 1%;
    margin-left: 600px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
    float: right;
    display: inline-block;
    position: absolute;
}

#tabelaImpressao:hover {
    box-shadow: 1px 1px 5px 1px rgba(62, 16, 65, 0.78);
}

#substituicaoImpressao {
    float: left;
    width: auto;
    margin-left: 3%;
    margin-right: 0%;
    margin-bottom: 1%;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
    display: inline-block;
    position: absolute;
}

#substituicaoImpressao:hover {
    box-shadow: 1px 1px 5px 1px rgba(62, 16, 65, 0.78);
}

#textoImprimir {
    font-style: italic;
    font-size: 25px;
    text-align: center;
}

.impressoraImagem {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    width: 55px;
    height: 55px;
}


#divDoBotao {
    margin-left: 31%;
}

#divDoBotao1 {
    margin-left: 3%;
}


#botaoIndoParaImpressao {
    float: right;
    display: inline-block;
    padding-left: 150px;
}

@media print {

    .print {
        display: none;
    }

    #listNutri {
        display: none;
    }

    #rodape {
        display: none;
    }

    #menuNutricionista {
        display: none;
    }

    #menuNutricionista2 {
        display: block;
    }

    #tabelaImpressao {
        display: none;
    }

    #substituicaoImpressao {
        display: none;
    }

    #secaoImpressao {
        margin-bottom: 100px;
        width: 50%;
        margin-top: none;
        display: inline-block;
    }

    #h5Nutricionista {
        margin-left: 330px;
        margin-top: 20px;
        display: inline-block;
    }

    #graficoDinamico1 {
        margin-top: none;
    }
}

.shadow {
    position: relative;
    margin: 200px auto 0;
    width: 400px;
    height: 250px;
    background: linear-gradient(0deg, #000, #262626);
}

.shadow:hover {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/*Estilo para campos vazio*/

.field {
    border: 2px solid #ccc !important;
    outline: none !important;
}

.field.--has-error {
    border-color: #f00 !important;
}
