#container-apresentacao {
    
    transform: translate(-50%, -50%) skewy(   );
    margin-bottom: 30px;
    color: #4c89e3;
}

#container-valores {
    
    transform: translate(-50%, -50%) skewy(   );
    margin-bottom: 30px;
    color: #d83838;
}

#container-missao {
    
    transform: translate(-50%, -50%) skewy(   );
    margin-bottom: 30px;
    color: #3b884d;
}

h1 {
    text-align: center;
    padding: 30px 0;
}

p {
    font-family: 'Macondo Swash Caps', cursive;font-family: 'Exo', sans-serif; !important;
    font-weight: bold;
    font-size: 18px;
}

@keyframes animate1 {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: .5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#apresentacao {
    margin: 10px 0;
    font-family: 'Lato', sans-serif !important;
    color: #4c89e3;
    text-shadow: 0 0 10px #4c89e3, 0 0 20px #4c89e3, 0 0 80px #4c89e3, 0 0 120px #4c89e3;
}

#valores {
    margin: 10px 0;
    font-family: 'Lato', sans-serif !important;
    color: #d83838;
    text-shadow: 0 0 10px #d83838, 0 0 20px #d83838, 0 0 80px #d83838, 0 0 120px #d83838;
}

#missao {
    margin: 10px 0;
    font-family: 'Lato', sans-serif !important;
    color: #3b884d;
    text-shadow: 0 0 10px #3b884d, 0 0 20px #3b884d, 0 0 80px #3b884d, 0 0 120px #3b884d;
}

h2 span {
    animation: animate1 .5s linear infinite;
}

h2 span:nth-child(1) {
    animation-delay: .25s;
}

h2 span:nth-child(2) {
    animation-delay: .2s;
}

h2 span:nth-child(3) {
    animation-delay: .35s;
}

h2 span:nth-child(4) {
    animation-delay: .4s;
}

h2 span:nth-child(5) {
    animation-delay: .45s;
}

h2 span:nth-child(6) {
    animation-delay: .5s;
}

h2 span:nth-child(7) {
    animation-delay: .55s;
}

h2 span:nth-child(8) {
    animation-delay: .6s;
}

h2 span:nth-child(9) {
    animation-delay: .65s;
}

h2 span:nth-child(10) {
    animation-delay: .7s;
}

h2 span:nth-child(11) {
    animation-delay: .75s;
}

h2 span:nth-child(12) {
    animation-delay: .8s;
}
